/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
.container-h {
  width: 95%;
  margin: 0 auto;
}
.container {
  width: 80%;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
header, #jumbotron {
  background-color: #faf7f1;
}
/* ---------------------- */
/* INTESTAZIONE DI PAGINA */
header {
  display: flex;
  flex-grow: 1;
}
#logoAndNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 30px 0;
  letter-spacing: 3px;
  font-size: 10pt;
  font-weight: bold;
}
#nav-h li {
  display: inline-block;
  margin: 0 24px;
}
#nav-h li a {
  color: #000;
}
#nav-h li:hover {
  border-bottom: 4px solid #e1c0b0;
}
#nav-h li:last-child:hover {
  border-bottom: none;
}
#dotted{
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
/* ----------------------- */

/* JUMBOTRON */
#jumbotron {
  padding: 60px 0 140px 0;
  position:relative;
}
/* ACTIVE */
.points-nav > .active {
  transform: scale(1.5);
}
/* --------------- */
.fas {
  color: #e1c0b0;
  font-size: 20pt;
}
.slide {
  width: 85%;
  margin: 0 auto;
  display: flex;
}
#prev, #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#prev {
  left: 0%;
}
#next {
  right: 0%;
}
.slide-down {
  width: 55%;
}
.slide-down h1 {
  font-size: 60pt;
  letter-spacing: 2px;
  font-weight: lighter;
}
.slide-down p {
  padding-top: 20px;
  color: #878787;
  letter-spacing: 2px;
}
.slide-down button {
  background-color: transparent;
  border: 4px solid #e1c0b0;
  margin-top: 30px;
  padding: 20px 50px;
  font-weight: 600;
}
.slide img {
  position: absolute;
  width: 45%;
  top: 8%;
  right: 0;
  margin-left: 100px;
}
.points-nav{
  display: flex;
  justify-content: center;
}
.points-nav .fa-circle{
  font-size: 8pt;
  padding-right: 5px;
}
/* ------------------- */
/* CORPO DELLA PAGINA */

/* SEZIONE 1 */
#images {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.images {
  width: calc(100% / 3);
  height: 650px;
  flex-flow: row wrap;
}
.slogan {
  display: none;
  position: absolute;
}
#one {
  background: url(../img/h-2-port-img-1.jpg) no-repeat;
  background-size: cover;
}
#two {
  background: url(../img/h-2-port-img-2.jpg) no-repeat;
  background-size: cover;
}
#three {
  background: url(../img/h-2-port-img-3.jpg) no-repeat;
  background-size: cover;
}
#four {
  background: url(../img/h-2-port-img-4.jpg) no-repeat;
  background-size: cover;
}
#five {
  background: url(../img/h-2-port-img-5.jpg) no-repeat;
  background-size: cover;
}
#six {
  background: url(../img/h-2-port-img-6.jpg) no-repeat;
  background-size: cover;
}
/* ------------------------------ */

/* SEZIONE 2 */
#workProcess {
  padding: 50px 0;
}
#workProcess h2 {
  text-align: center;
  font-size: 45pt;
  font-weight: lighter;
}
#lineProcess {
  background: url(../img/svg/svg-3.svg) no-repeat;
  background-position: center;
  background-size: contain;
  margin: 60px auto;
  height: auto;
  display: flex;
  justify-content: space-between;
}
#ideaContent {
  text-align: center;
}
.process {
  background-color: #faf7f1;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.process i {
  font-size: 30pt;
}
#idea i {
  color: #badac9;
}
#talk i {
  color: #f8d12d;
}
#think i {
  color: #80465f;
}
#talk i {
  color: #eb6950;
}
#underText {
  display: flex;
  justify-content: space-between;
  width: 87%;
  margin: 0 auto;
}
.b-text {
  text-align: center;
  width: 270px;
}
.b-text p {
  color: #878787;
}
/* -------------------------------- */

/* SEZIONE 3 */
#withUs {
  background-color: #faf7f1;
  padding: 85px;
  text-align: center;
}
#withUs h2 {
  font-size: 45pt;
  font-weight: lighter;
}
#withUs p {
  margin: 30px 0;
  color: #878787;
  font-size: 15pt;
}
#withUs button {
  background-color: #c0e1cf;
  margin: 30px 0;
  padding: 25px 80px;
  font-weight: bold;
  border: none;
}
#withUs button:hover {
  cursor: pointer;
  background-color: #e1c0b0;
}
/* ------------------------- */
#notice {
  width: 80%;
  margin: 60px auto;
}
#content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.noticeImg {
  width: 400px;
  height: 300px;
  position: relative;
}
#newDesign {
  background: url(../img/h-2-blog-img-1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 1s;
}
#art {
  background: url(../img/h-2-blog-img-2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 1s;
}
#features {
  background: url(../img/h-2-blog-img-3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 1s;
}
#newDesign:hover, #newDesign:focus {
  transform: scale(1.1);
}
#art:hover, #art:focus {
  transform: scale(1.1);
}
#features:hover, #features:focus {
  transform: scale(1.1);
}
.textAndImage {
  width: 400px;
  height: 300px;
}
.textAndImage h3 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: lighter;
  font-size: 18pt;
}
 p.cursive{
  font-family: 'Lobster', cursive;
  color: #878787;
  margin-bottom: 30px;
}
.date {
  background-color: #c0e1cf;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-family: 'Lobster', cursive;
  position: absolute;
  top: -5%;
  left: 9%;
}
.date p {
  font-size: 20pt;
  font-weight: bold;
  margin-left: -5px;
}
.month {
  text-align: center;
  background-color: #f3d0c7;
  width: 60px;
  height: 25px;
  position: absolute;
  top: 45px;
  left: 9%;
}
/* --------------- */

/* PIE' DI PAGINA */
footer {
  margin-top: 300px;
  background-color: #c0e1cf;
  height: 20vh;
  padding: 40px;
}
.all {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.all p, .all a {
  font-weight: lighter;
}
#contacts a{
  color: #000;
}
#socials ul li {
  display: inline-block;
  padding-top: 10px;
  padding-right: 32px;
}
#socials ul li a {
  color: #000;
}
#arrowUp {
  position: absolute;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  background-color: #e1c0b0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 5%;
}
#arrowUp i {
  color: white;
  text-align: right;
}
/* --------------------------------- */

/* POSITIONS ABSOLUTE DIV */
.absolute {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#qode {
  background-color: white;
  position: fixed;
  top: 23%;
  right: 0%;
}
#qode img {
  width: 25px;
  height: 25px;
}
#shops {
  background-color: white;
  position: fixed;
  top: 28%;
  right: 0%;
}
#shops img {
  width: 25px;
  height: 25px;
}
